<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plate Scanner</title>
</head>
<body>
    <h1>Plate Scanner</h1>
    <button onclick="startScan()">Scan Plate</button>
    <div>
        <img id="video" src="{{ url_for('video_feed') }}" width="640" height="480" style="width: 100%; height: auto;" />
    </div>

    <script>
        function startScan() {
            // Panggil rute untuk memulai pemindaian
            fetch('/scan')
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>